<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSPersonasCygnusSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://35.237.110.198/WSPersonasCygnusQNT/WSPersonasCygnus.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSPersonasCygnusSoap"
                contract="Cygnus.WSPersonasCygnusSoap" name="WSPersonasCygnusSoap" />
        </client>
    </system.serviceModel>
</configuration>