<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sfEndpoint" value="https://test.salesforce.com/services/oauth2/token"/>
    <add key="sfClientId" value="3MVG9rrOVHA54N6PJLV78rRcYv.rBxNgKHPHKiLvb6pWsS5A4KJ9uK72AAQ0wyivNuBG3s8VeOdmKyRtpp_nq"/>
    <add key="sfSecret" value="F239BA4172C95CD901899D84ED9C52685631ADF73805C96718CC03BD0FCC248A"/>
    <add key="sfUser" value="agomez@qnt.com.co.uat"/>
    <add key="sfPass" value="1qazse4rfvgy7axzvfGgGLxj13rGXBLn3LnlaX"/>
  </appSettings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSPersonasCygnusSoap" />
                <binding name="WSSimuladorCreditoQntSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://35.237.110.198/WSPersonasCygnusQNT/WSPersonasCygnus.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSPersonasCygnusSoap"
                contract="Cygnus.WSPersonasCygnusSoap" name="WSPersonasCygnusSoap" />
            <endpoint address="http://35.237.110.198/WSSimuladorQNT/WSSimuladorCreditoQnt.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSSimuladorCreditoQntSoap"
                contract="ServiceReference1.WSSimuladorCreditoQntSoap" name="WSSimuladorCreditoQntSoap" />
        </client>
    </system.serviceModel>
</configuration>