
body 
{
	background-color: transparent;
	background-position:top;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px; 
	font-family: 'Century Gothic';
}

img{ border-style: none;
	border-color: inherit;
	border-width: 0;
}

.SaltoDePagina
{
	 page-break-after:always;
}

table th
{
    font-family: 'Century Gothic';
    font-size: 16px;
    font-weight:normal;
}

table td
{
    font-family: 'Century Gothic';
    font-size: 13px;
    font-weight:normal;
}

	
.gdvExcelStyle
{
	font-family: 'Century Gothic';
	font-size: 13px;
	color: #000000;
	text-decoration: none;
	Padding-left: 5px;
	Padding-right: 5px;
}

.gdvAltrowstyle 
{
	background-color: #E3F5EF;
}

.gdvHeaderstyle th
{
	background: #FFFFFF;
	border: #389F7C 1px solid thin;
	color: #000000;
	padding: 4px 5px 4px 4px;
	text-align: center;
	vertical-align: bottom;
    font-family: 'Century Gothic';
	font-size: 14px;

}  

.gdvHeaderstyle th a
{
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	color: #000000;
	display: block;
	padding-right: 10px;
}    

.gdvRowstyle .sortaltrow, .gdvAltrowstyle .sortaltrow
{
	background-color: #E3F5EF;
	
}

.gdvRowstyle .sortrow, .gdvAltrowstyle .sortrow 
{
	background-color: #E3F5EF;
}

.gdvRowstyle td
{
	padding: 2px 2px 2px 2px;
    border: solid 1px #389F7C thin;
	background-color: #FFFFFF;
}

.gdvAltrowstyle td 
{
	padding: 2px 2px 2px 2px;
    border: solid 1px #389F7C thin;
	background-color: #E3F5EF;
}

.gdvHeaderstyle .sortascheader 
{
	background: url(../Imagenes/sprite.png) repeat-x 0px -100px;
}

.gdvHeaderstyle .sortascheader a 
{
	background: url(../Imagenes/dt-arrow-up.png) no-repeat right 50%;
} 

.gdvHeaderstyle .sortdescheader 
{
	background: url(../Imagenes/sprite.png) repeat-x 0px -100px;
}   

.gdvHeaderstyle .sortdescheader a 
{
	background: url(../Imagenes/dt-arrow-dn.png) no-repeat right 50%;
} 

.formPager 
{
  background:#DDD9CC;    
  color:#715400;
  font-size:14px;
  font-weight:bold;
  padding-left:3px;
  padding-right:3px;
}

.formPager a
{
  text-decoration: underline;    
  font-size:11px;
  font-weight:normal;
  padding-left:3px;
  padding-right:3px;
}

.formPager input
{
	border-style: solid;
	border-width: 1px;
	font-family: "Roadgeek 2005 Series 1B";
	font-size: 13px;
	color: #EA7328;
	text-decoration: none;
	cursor: pointer;
	font-style: normal;
	vertical-align: middle;
	text-align: center;
	background-color: #FFFFFF;
	border-top-color: #FF9326;
	border-right-color: #FF9326;
	border-bottom-color: #FF9326;
	border-left-color: #FF9326;
}

.Rotate-90
{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
 
  /*-webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;*/
  background-color:Silver;
  font-size: 9px;
  /*position: relative;  width: 50px; top: 50px;*/
  
}

.tdTitulo01 {
    font-family: Century Gothic;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #337ab7;
    border: 1px solid #337ab7;
    padding: 10px 15px;
}

.tdTitulo02 {
    font-family: Century Gothic;
    font-size: 16px;
    color: #3c763d;
    text-decoration: none;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    padding: 10px 15px;
}

.tdTitulo03 {
    font-family: Century Gothic;
    font-size: 16px;
    color: #8a6d3b;
    text-decoration: none;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    padding: 10px 15px;
}

.tdTitulo04 {
    font-family: Century Gothic;
    font-size: 16px;
    color: #a94442;
    text-decoration: none;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    padding: 10px 15px;
}